<h1>New Product</h1>
<form action="/products" method="post">
  <div>
     Name: <input type="text" name="name">
   </div>
   <div>
     Price: <input type="text" name="price">
   </div>
   <div>
     description: <input type="text" name="description">
   </div>
   <div>
      Supplier: <input type="text" name="supplier_id">
    </div>
   <input type="submit" value="Create product">
   </form>  